@model Rent.Entities.User

@{
    ViewBag.Title = "Create User";
}

<h2>@ViewBag.Title</h2>

@Html.Partial("_TempDataPartial")

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group has-danger mb-0">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Name, new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.Name, null, new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group has-danger mb-0">
            @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control text-danger" })
                @Html.ValidationMessageFor(model => model.Email, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Phone, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Phone, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Phone)
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.Address, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Address)
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.City, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.City, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.City)
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.State, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.State, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.State)
            </div>
        </div>       

        <div class="form-group">
            @Html.LabelFor(model => model.ZipCode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.ZipCode, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ZipCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UsersPassword.Password, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.UsersPassword.Password, new { @class = "form-control", @Value = "P@ssword!" })
                @Html.ValidationMessageFor(model => model.UsersPassword.Password)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Role", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.RoleId, (SelectList)ViewBag.RoleList, "--Select Role--", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RoleId, null, new { @class = "text-danger"})
            </div>
        </div>

        @*Display only for Admin User*@
    @{

        if ((Enumerable.Count(ViewBag.ManagerList) > 0) && User.IsInRole("Admin"))
        {
            <div id="admin" class="form-group">
                @Html.Label("Manager", new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.ManagerId, (SelectList) ViewBag.ManagerList, "--Select Manager--", new {@class = "form-control"})
                    @Html.ValidationMessageFor(model => model.ManagerId, null, new { @class = "text-danger" })
                </div>
            </div>
        }
    }

            <div class="form-group ">
                <div class="col-md-offset-2 col-md-10 col-xs-12 btn-group">
                    <div class="[ col-md-5 ]">
                        <input type="submit" value="Create New User" class="btn btn-primary"/>
              
                        @Html.ActionLink("Back to User List", "Index", null, new {@class = "form-group btn btn-danger"})
                    </div>
                </div>
            </div>
</div>
}




<script>
    $(function() {
        var roles = $('#RoleId');
        var manager = $('ManagerId');
    })
</script>

