@model Rent.Entities.RentPayment

@{
    ViewBag.Title = "Rent Payment Invoice# ";
}

<h2>@ViewBag.Title @Html.DisplayFor(x => x.RentPaymentId)</h2>

    <hr />
    <div>
        <p>
            Hello @Html.DisplayFor(x => x.User.Name), <br /><br />

            A rent payment of @Html.DisplayFor(x => x.Payment) was made on @String.Format("{0}", Model.PaymentDate.ToString("d"))  for the property stated below. <br />

            @ViewBag.Address
        </p>
        <p style="padding-top:40px">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-8">
                    Generated on @DateTime.Now
                </div>
            </div>
        </p>

        <p>
            @if (TempData["Msg"] == null)
            {
                <a href="@Url.Action("Print", new {id = Model.RentPaymentId})" class="btn btn-default btn-sm">Print Receipt</a>
            }
        </p>
</div>

<p>
    @if (TempData["Msg"] == null)
    {
        <a href="@Url.Action("Index")" class="btn btn-default btn-sm">Back to list</a>
    }
</p>
