<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Rent Payment</title>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryajax")

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Rent Payment Tracker", "Index", "Rent", null, new { @class = "navbar-brand", area = "Rent" })
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Home", "Index", "Rent")</li>*@

                    @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                    {
                       if (User.IsInRole("Admin"))
                        {
                            <li>@Html.ActionLink("Admin Setup", "Index", "User", new { area = "Admin" }, null)</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Manager Setup", "Index", "User", new { area = "Admin" }, null)</li>
                        }
                    }
                    

                </ul>
                     @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - design by beau <a href="http://mlfusion.com">mlfusion.com</a></p>
        </footer>
    </div>


</body>
</html>

@RenderSection("scripts", required: false)